/* app/projects/ProjectCardAll.module.css */

.card {
  background-color: #1f2937; /* bg-gray-900 */
  color: white;
  width: 15rem; /* w-60 */
  padding: 1rem; /* p-4 */
  border-radius: 0.75rem; /* rounded-xl */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); /* shadow-lg */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.iconContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.title {
  font-size: 1rem;
  color: #666;
  margin: 12px 0;
  font-weight: 600;
  text-align: center;
}

.desc {
  font-size: 0.875rem;
  color: #9ca3af; /* text-gray-400 */
  margin-bottom: 1rem;
  text-align: center;
}

.techIcons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.techIcon {
  color: #444;
  transition: color 0.3s ease;
}

.techIcon:hover {
  color: #007bff;
}

.links {
  display: flex;
  justify-content: space-around;
}

.link {
  color: #ff006f;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.link:hover {
  text-decoration: underline;
}

