.section-skills {
    width: 100%;
    list-style: none;
    box-sizing: border-box;
    min-height: 100vh;
    margin: auto;
}

.container-hero-skills {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1280px) {
    .container-hero-skills {
        max-width: 1024px;
    }
}

@media (max-width: 1024px) {
    .container-hero-skills {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .container-hero-skills {
        max-width: 576px;
        display: flex;
        flex-direction: column-reverse;
    }
    .skills h1 {
        text-align: center;
    }
    .skills h2 {
        text-align: center;
    }
}

.skills {
    max-width: 400px;
    width: 100%;
}

.skills h1 {
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
}

.skills h2 {
    color: rgb(255, 0, 72);
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.skills-img {
    max-width: 400px;
    width: 100%;
}

/* Linguagens */

.section-languages {
    width: 100%;
    list-style: none;
    box-sizing: border-box;
    margin: auto;
    padding-bottom: 50px;
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgb(35, 35, 35) 56%); 
}

.container-languages {
    max-width: 1280px;
    width: 100%;
    margin: auto;  
    padding-right: 40px;
    padding-left: 40px;
}

@media (max-width: 1280px) {
    .container-languages {
        max-width: 1024px;
    }
}

@media (max-width: 1024px) {
    .container-languages {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .container-languages {
        max-width: 576px;
    }
}

.lang-title {
    margin: auto;
}

.lang-title h2 {
    padding: 50px;
    color: rgb(255, 0, 72);
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    text-align: center;
}

.languages-items {
    max-width: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 50px;
    flex-wrap: wrap;
    margin: auto;
}

@media (max-width: 1280px) {
    .languages-items {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 1024px) {
    .languages-items {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    .languages-items {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.item-languages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 3px rgb(122, 122, 122);
    transition-duration: .5s !important;
}

.item-languages:after {
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.item-languages:hover {
    background-color: rgb(255, 0, 72);
    transform:scale(1.100,1.100);
    box-shadow: 0px 0px 8px 3px rgb(255, 0, 72);;
}

.icon-languages {
    color: white;
    padding: 10px;
    font-size: 8rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bibliotecas */

.container-libraries {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 50px;
}

@media (max-width: 1280px) {
    .container-libraries {
        max-width: 1024px;
    }
}

@media (max-width: 1024px) {
    .container-libraries {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .container-libraries {
        max-width: 576px;
    }
}

.libr-title {
    margin: auto;
    
}

.libr-title h2 {
    padding: 50px;
    color: rgb(255, 0, 72);
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    text-align: center;
}

.libraries-items {
    max-width: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 50px;
    flex-wrap: wrap;
    margin: auto;
}

@media (max-width: 1280px) {
    .libraries-items {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 1024px) {
    .libraries-items {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    .libraries-items {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.item-libraries {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 3px rgb(122, 122, 122);
    transition-duration: .5s !important;
}

.item-libraries:after {
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.item-libraries:hover {
    background-color: rgb(255, 0, 72);
    transform:scale(1.100,1.100);
    box-shadow: 0px 0px 8px 3px rgb(255, 0, 72);;
}

.icon-libraries {
    color: white;
    padding: 10px;
    font-size: 8rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ferramentas */

.container-tools {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 50px;
}

@media (max-width: 1280px) {
    .container-tools {
        max-width: 1024px;
    }
}

@media (max-width: 1024px) {
    .container-tools {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .container-tools {
        max-width: 576px;
    }
}

.tools-title {
    margin: auto;
    
}

.tools-title h2 {
    padding: 50px;
    color: rgb(255, 0, 72);
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    text-align: center;
}

.tools-items {
    max-width: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 50px;
    flex-wrap: wrap;
    margin: auto;
}

@media (max-width: 1280px) {
    .tools-items {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 1024px) {
    .tools-items {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    .tools-items {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.item-tools {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 3px rgb(122, 122, 122);
    transition-duration: .5s !important;
}

.item-tools:after {
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.item-tools:hover {
    background-color: rgb(255, 0, 72);
    transform:scale(1.100,1.100);
    box-shadow: 0px 0px 8px 3px rgb(255, 0, 72);;
}

.icon-tools {
    color: white;
    padding: 10px;
    font-size: 8rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
